@charset "UTF-8";

body {
    margin: 0px;
}

#espaco {
    position: relative;
    height: 100vh;
    background: black url('imagens/espaco.jpg') center center no-repeat fixed;
    background-size: cover;
}

#astronauta {
    background-image: url('imagens/astronauta.png');
    background-size: 100% 100%;
    position: absolute;
    height: 20vh;
    width: 20vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}